/* CAROUSEL */
#carouselMovies .carousel-item .carousel-caption {
  text-align: left;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#carouselMovies .carousel-item .carousel-caption p:first-of-type {
  color: #fbbd61;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 0;
  animation-delay: 0.5s;
}

#carouselMovies .carousel-item .carousel-caption p:last-of-type {
  font-size: 1.125rem;
  margin-bottom: 20px;
}

#carouselMovies .carousel-item .carousel-caption h5 {
  font-size: 3.25rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.movieCarousel__trailer {
  animation-delay: 0.5s;
}

.movieCarousel__trailer > span {
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid white;
  font-size: 0.8rem;
  text-align: center;
  line-height: 48px;
  margin-right: 8px;
}

.movieCarousel__trailer button {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 0.8rem;
  letter-spacing: 4px;
  color: white;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  position: relative;
  overflow: hidden;
}

.movieCarousel__trailer button span {
  position: relative;
  z-index: 2;
}

.movieCarousel__trailer button::before {
  content: "";
  width: 110%;
  height: 100%;
  display: block;
  background: #ec7532;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: skewX(30deg) translate(-110%);
  transition: 0.5s;
}

.movieCarousel__trailer button:hover::before {
  transform: skewX(30deg) translate(-10px);
}

#carouselMovies .carousel-indicators {
  justify-content: flex-start;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin-right: 0;
  margin-left: 0;
  padding: 0 15px;
}

#carouselMovies .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  opacity: 1;
}

#carouselMovies .carousel-indicators button.active {
  background: white;
}

.movieCarousel__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
}

/* NEW IN */
.newIn__details {
  text-align: center;
}

.newIn__details h3 {
  font-size: 18px;
  color: #4a4a4a;
  margin: 1rem 0;
}

.newIn__details i {
  color: #fbbd61;
}

.newIn__img {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.newIn__overlay {
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 1;
  background: linear-gradient(to bottom, #fbbd61, #ec7532);
  transform: skewX(30deg) translateX(-150%);
  transition: 0.5s;
}

.newIn__img:hover .newIn__overlay {
  transform: skewX(30deg) translateX(-30%);
}

.newIn__play {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.newIn__img:hover .newIn__play {
  opacity: 1;
}

.newIn__play i {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  transform: scale(1);
  transition: 0.5s;
}

.newIn__play i:hover {
  transform: scale(0.9);
}

.newIn__play a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: 13px;
  letter-spacing: 4px;
}

.newIn__play p {
  color: white;
}

/* SHOW TIMES */
.showTimes .nav-tabs .nav-item.show .nav-link,
.showTimes .nav-tabs .nav-link.active {
  border: none;
}

.showTimes .nav-tabs .nav-link.active {
  color: #ec7532;
}

.showTimes .nav-tabs .nav-link {
  border: none;
  padding: 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.showTimes .nav-tabs .nav-item {
  margin-bottom: 0;
}

.showTimes .nav-tabs .nav-link span {
  padding: 15px 30px;
  display: block;
}

#nav-tabContent .tab-pane .showTimes__row:last-child {
  border-bottom: none;
}

.showTimes__row {
  border-bottom: 1px solid #d8d8d8;
}

.showTimes__row img {
  border-radius: 10px;
}

.showTimes__row div p:first-of-type {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ec7532;
  margin-bottom: 0;
  text-transform: uppercase;
}

.showTimes__row div p:nth-of-type(3) {
  text-transform: uppercase;
}
.showTimes__row h3 {
  font-size: 24px;
  font-weight: 300;
  color: #101010;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.showTimes__row a {
  font-size: 12px;
  letter-spacing: 4px;
  color: #ec7532;
  text-decoration: none;
  transition: 0.5s;
}

.showTimes__row a:hover {
  color: #101010;
}

.showTimes__runingTimes {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #4a4a4a;
}

.showTimes__runingTimes span:first-of-type {
  text-transform: uppercase;
}

.showTimes__runingTimes button {
  font-size: 14px;
  letter-spacing: 2px;
  color: #717171;
  background: #d8d8d8;
}

.showTimes__mins span:last-child {
  width: 33px;
  height: 33px;
  display: inline-block;
  color: white;
  background: #4a4a4a;
  text-align: center;
  line-height: 33px;
  border-radius: 50%;
  font-weight: 700;
}

/* COMING SOON */
.comingSoon {
  background: #101010 url(../images/slide-3.png);
  background-size: cover;
  color: white;
}

.comingSoon__details p:first-of-type {
  font-size: 14px;
  color: #ec7532;
  letter-spacing: 2px;
}

.comingSoon__details p {
  margin: 1rem 0;
}

.comingSoon__details h3 {
  font-size: 34px;
  letter-spacing: 1px;
  font-weight: 300;
}

.conmingSoon__rating > i {
  color: #fbbd61;
}

.comingSoon__details a {
  font-size: 12px;
  letter-spacing: 4px;
  color: #ec7532;
  text-decoration: none;
  transition: 0.5s;
}

.comingSoon__details a:hover {
  color: white;
}

.comingSoon__video {
  position: relative;
}

.comingSoon__video i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #ec7532;
  border-radius: 50%;
  font-size: 25px;
  transition: .5s;
  color: white;
}

.comingSoon__video:hover i{
transform: translate(-50%, -50%) scale(0.9);
}

/* MOVIELIST */
.movieList {
    background:#101010;
}

.movieList__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.movieList_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #101010;
    opacity: 0.6;
    transition: .5s;
}
.movieList__item:hover .movieList_overlay {
    opacity: 0;
}

/* CONTACT */
.contact__content {
    text-align: center;
}

.contact__content p:first-child {
    font-size: 23px;
    color: #4a4a4a;
    letter-spacing: 1px;
    font-weight: 300;
}

.contact__content a{
    font-size: 46px;
    color: #fbbd61;
    text-decoration: none;

}